/* Basic Styles */
/* color */
:root{
	--bgcolor:#E6E6FA;
	--section-bgcolor:#F0F8FF;
	--normal-header-bgcolor:#F0FFFF;
	--flex-header-bgcolor:#E2FFDE;
	--flex-header-shadow-color:#0003;
	--main-sidebox-section-text-color:#9932CC;;
	--main-sidebox-section-text-a-color:#28794C;;
	--setting-box-bgcolor:#9DE;
	--table-bgcolor1:rgba(0, 0, 0, 0.03);
	--table-bgcolor2:rgba(255, 255, 255, 0.3);
}
@media (prefers-color-scheme: dark){
	:root{
		--text-color:#CCC;
		--bgcolor:#111;
		--section-bgcolor:#333;
		--normal-header-bgcolor:#222;
		--flex-header-bgcolor:#222;
		--flex-header-shadow-color:#E2FFDE;
		--main-sidebox-section-text-color:#1C1;
		--main-sidebox-section-text-a-color:#ECF;
		--setting-box-bgcolor:#45C;
		--table-th-color:rgba(255, 255, 255, 0.9);
		--table-th-bgcolor:rgba(0, 0, 0, 0.9);
		--table-bgcolor1:rgba(255, 255, 255, 0.3);
		--table-bgcolor2:rgba(0, 0, 0, 0.1);
	}
}
/* main parts */
body{transition: 1s all;
	min-width: 650px;
	color: var(--text-color);
	font-family: "PingFang SC",miui,system-ui,-apple-system,"lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei",BlinkMacSystemFont,Segoe UI,Helvetica Neue,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
	background-color: var(--bgcolor);
	margin: 0;
	display: flex;
	flex-direction: column;}
section{transition: 1s all;
	background-color: var(--section-bgcolor);
	margin-left: 3%;
	margin-right: 3%;}
article{
	font-weight: 500;
	text-indent: 2em;
	margin-left: 5%;
	margin-right: 5%;}
.main-flex{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;}
.main-box{display: block;}
.main-sidebox{
	min-width: 300px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex-wrap: wrap;
	margin: 20px 0;}
@media (orientation: landscape) {
	section{
		border-radius: 10px;
		margin-top: 20px;
		padding: 5px;}
	.main-flex{flex-wrap: nowrap;}
	.main-box{
		min-width: 600px;
		width:1200px;
		max-width:90%;
	}
	.main-sidebox{
		width: 600px;
		max-width:23%;
		border-left: 1px solid rgb(221, 221, 221);
		padding: 10px 1% 0px 1%;
		margin-left: -1%;
	}
}
@media (orientation: portrait) {
	section{
		border-radius: 20px;
		margin-top: 45px;
		padding: 10px;}
	.main-flex{flex-wrap: wrap;justify-content: center;}
	.main-box{
		width:100%;
	}
	.main-sidebox{
		width: 1000px;
		max-width:100%;
		border: none;
		padding: 10px 3pc;
	}
}
/* other parts */
/*header(normal)*/
.normal-header{
	top: 0;
	background-color: var(--normal-header-bgcolor);
	min-width: 650px;
	width: 100%;
	height: 150px;
	display: flex;
	flex-direction: row;
	align-items: center;
	box-shadow: rgb(0 0 0 / 10%) 0px 1px 4px 0px}
.normal-header-icon {
	height: 150px;
	width: 150px;
	left: 0;}
.normal-header-main{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;}
.normal-header-left{
	display: flex;
	flex-direction: column;}
.normal-header-left-t1{
	font-family: "MiSans";
	font-weight: 700;
	color: #3264FF;
	font-size: 64px;
	margin: 0px 10px;}
.normal-header-left-t2{
	font-family: "Dosis";
	font-weight: 600;
	color: #64FF32;
	font-size: 32px;
	margin: 0px 10px;}
.normal-header-right{
	color: #6432FF;
	right: 0px;
	width: 30%;
	text-align: right;
	font-family: "Potra";
	font-size: 72px;}
/*header(flex)*/
.flex-header{
	transition: all 1s ease-out;
	min-width: 600px;
	position: fixed;
	top: 0;
	left: 20px;
	right: 20px;
	height: 50px;
	border-radius: 0px 0px 15px 15px;
	background-color: var(--flex-header-bgcolor);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 5px 40px;
	box-shadow: var(--flex-header-shadow-color) 0px 0px 10px 0px}
.flex-header-hide{
	margin-top: -100px;}
.header-main{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;}
.header-left{
	margin: 0;padding: 0;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	list-style: none;
	white-space: nowrap;}
.header-left-li{
	margin: 0px 3%;}
.header-icon-box{
	width: 140px;}
.header-icon{
	height: 50px;}
.header-at{
	background: linear-gradient(0deg, #A0F,#A0F);
	background-repeat: no-repeat;
	background-position: 0 100%;
	background-size: 100% 3px;}
/*sidebox*/
.main-sidebox-section{
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 10px;
	box-shadow: 1px 1px 2px #FFFFFF,1px 1px 5px #FFFFFF;
	margin: 0 0 36px 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;}
.main-sidebox-section-h{
	font-size: 33px;
	color: #00008B;
	font-family: "MiSans";font-weight: 700;
	width: 95%;
	padding: 10px 0;
	border-bottom: 1px solid rgb(221, 221, 221);}
.main-sidebox-section-text{
	color: var(--main-sidebox-section-text-color);
	margin: 20px 0;
	width: 90%;}
.main-sidebox-section-text>a{
	color: var(--main-sidebox-section-text-a-color);}
.main-sidebox-siteicon-pic{
	height: 100px;
	width: 300px;
	margin: 5px;
	background-image: url(media/icon_100_300.png);}
/*nav(side)*/
.page-nav{
	position: fixed;
	top: 155px;
	right: 0;}
#nav-chb{
	display: none;}
.page-nav-lable{
	position: absolute;
	position: fixed;
	right: 0px;
	width: 10%;
	min-width: 45px;
	max-width: 110px;
	height: 75px;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 15px 0px 0px 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #D7D7FF;
	font-size: 25px;
	text-align: center;
	line-height: 45px;
	cursor: pointer;
	font-family: "MiSans_Bold";
	white-space: nowrap;}
#nav-box{
	top: 256px;
	position: absolute;
	height: 60%;
	width: 150px;
	right: -150px;
	text-align: center;
	position: fixed;
	transition: 0.75s;
	border-radius: 20px;}
#nav-chb:checked ~ #nav-box{
	right: 0px;}
.page-nav-li{
	list-style: none;
	overflow: hidden;}
.page-nav-a{
	position: relative;
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.7);
	display: block;
	line-height: 30px;
	color: #CCCC64;
	font-family: "MiSans" !important;
	font-weight: 500;}
.page-nav-a:hover{
	background-color: rgba(0, 0, 0, 1.0);
	color: #CCC;
	font-weight: 800;}
.page-nav-at{
	background-color: rgba(0, 0, 0, 0.9);
	color: #9D9DEE;
	font-weight: 700;
	text-shadow: 0 0 20px #FFF;}
/*section0*/
#section0{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;}
@media screen and (max-width:1024px) and (orientation: landscape),screen and (max-width:702.5px) and (orientation: portrait){
	.section0-box1,.section0-box2{
		width: 100%;
	}
	.section0-box2{
		flex-direction: row-reverse;
	}
	.s-b-2-2{text-align: right;}
}
.section0-box1{
	display: flex;
	flex-direction: column;
	justify-content: space-between;}
.s-b-1-1{
	color: #3264FF;
	font-size: 72px;
	font-weight: 900;
	margin: 20px;}
.s-b-1-2{
	color: #64FF32;
	font-size: 48px;
	font-weight: 900;
	margin: 20px;
	margin-right: 0px}
.section0-box2{
	display: flex;
	flex-direction: column;
	justify-content: space-between;}
.s-b-2-1{
	color: #64FF32;
	font-size: 72px;
	text-align: right;
	font-family: "Potra";
	margin: 0 20px;}
.s-b-2-2{
	color: #3264FF;
	font-size: 72px;
	font-weight: 900;
	margin: 20px;}
.section0-bottom{
	width: 100%;
	text-align: center;
	font-family: "58hf";
	font-size: 36px;
	color: #A0F;}
.section0-bottom-add{
	width: 100%;
	text-indent: 5%;
	font-size: 40px;
	font-weight: 700;
	color: #3264FF;
	margin: 20px;}
.section0-bottom-add-hlnum{
	font-family: "Dosis";
	font-weight: 900;
	font-size: 64px;
	margin: 9px;}
/*footer*/
footer{
	background-color: #000;
	color: #FFF;}
.footer-linear-gradient{
	width: 100%;
	height: 150px;
	background: linear-gradient(0deg, #000, var(--bgcolor));}
.footer-top{
	width: 100%;
	font-size: 72px;
	font-weight: 900;
	text-align: center;
	margin: 0;margin-bottom: 50px;
	text-shadow: 0 0 5px #0ebeff,0 0 10px #0ebeff,0 0 20px #0ebeff,0 0 50px #0ebeff,0 0 100px #0ebeff,0 0 200px #0ebeff;}
.footer-top:hover{
	animation: neon-blue 1s linear forwards;}
.footer-main{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-evenly;}
@media (orientation: portrait) {.footer-main{visibility: hidden;content-visibility:hidden;}}
.footer-section{
	min-width: 300px;
	width: 25%;
	border-left: 1px solid #AAA;
	padding: 5px;}
.footer-section-h{
	font-size: 30px;
	border-bottom: 1px solid #666;
	font-weight: 700;}
.footer-section:hover .footer-section-h i{
	animation: neon-green 1s linear forwards;}
.footer-bottom{
	width: 100%;
	margin: 12px 0;
	text-align: center;}
.footer-bottom:hover{text-shadow:0 0 5px #64FF32,0 0 10px #64FF32,0 0 20px #64FF32,0 0 50px #64FF32;}
/* main styles */
h1{
	font-family: "MiSans" !important;
	font-weight: 900 !important;
	color: #3264FF !important;
	font-size: 48pt !important;
	text-align: center !important;
	text-indent: 0;}
h1 a{
	color: #3264FF !important;}
h2{
	font-family: "MiSans" !important;
	font-weight: 800 !important;
	color: #A0F !important;
	font-size: 32pt !important;
	text-align: center !important;
	text-indent: 0;}
h2 a{
	color: #A0F !important;}
h3{
	font-family: "MiSans" !important;
	font-weight: 700 !important;
	font-size: 2em !important;
	text-indent: 0;}
h4{
	font-family: "MiSans" !important;
	font-weight: 600 !important;
	font-size: 1.5em !important;
	text-indent: 0;}
a{
	color: #0C0;
	text-decoration: none;
	background: linear-gradient(90deg, #ff3c41, #fc0, #0ebeff);
	background-size: 0 3px;
	background-repeat: no-repeat;
	background-position: 0 100%;
	transition: 1s all;}
a:hover,a:focus-visible{
	color: #0CC;
	font-weight: bold;
	text-shadow: 0 0 20px #FFFFFF;
	background-size: 100% 3px;
	transition: 1s all;}
/* code */
pre,code{
	font-family:Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
	font-size:small;
	tab-size: 4;
	border-radius:0.25rem;
}
pre{
	background-color: #E6E6FA;
	margin: 2rem 0;
	padding: 1rem 2.5rem 1rem 1rem;
	overflow-x: scroll;
}
code{
	display: inline;
	padding:.125rem .25rem;
}
p code{
	background: #E6E6FA;
}
/* doc */
.page-button-box{
	display: flex;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: space-evenly;
	margin: 2% 5%;
	padding: 2% 5%;
	background-color: var(--section-bgcolor);
	border-radius: 10px;
}
.page-button{
	display: block;
	background-color: var(--bgcolor);
	color: #3264FF;
	height: 100px;
	width: 30%;
	font-size: 30px;
	font-weight: 900;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* others */
.hide{
	visibility: hidden;content-visibility: hidden;}
.noselect,header,nav,footer,.setting-box,#section0 {
	/*noselect:on;*/
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Chrome/Safari/Opera */
	-khtml-user-select: none; /* Konqueror */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currentlyno t supported by any browser */}
@media (orientation: landscape) {
	.mobile-only{
		visibility: hidden;
		content-visibility: hidden;}}
@media (orientation: portrait) {
	.desktop-only{
		visibility: hidden;
		content-visibility: hidden;}}
table{
	border-collapse: collapse;
	border: 1px solid rgb(162, 169, 177);
	margin: 3%;
}
section table>tbody>:nth-child(2n){
	background-color: var(--table-bgcolor1);}
section table>tbody>:nth-child(2n+1){
	background-color: var(--table-bgcolor2);}
td,tr,th{
	border: 1px solid rgb(162, 169, 177);}
th{
	background-color: rgba(14,81,126,0.9) !important;
	color: rgba(255, 255, 255, 0.9);}
/* Theme */
/* color */
.colorfulmode{
	--text-color:none;
	--bgcolor:#E6E6FA;
	--section-bgcolor:#F0F8FF;
	--normal-header-bgcolor:#F0FFFF;
	--flex-header-bgcolor:#E2FFDE;
	--flex-header-shadow-color:#0003;
	--main-sidebox-section-text-color:#9932CC;;
	--main-sidebox-section-text-a-color:#28794C;;
	--setting-box-bgcolor:#9DE;
	--table-bgcolor1:rgba(0, 0, 0, 0.03);
	--table-bgcolor2:rgba(255, 255, 255, 0.3);}
.darkmode{
	--text-color:#CCC;
	--bgcolor:#111;
	--section-bgcolor:#333;
	--normal-header-bgcolor:#222;
	--flex-header-bgcolor:#222;
	--flex-header-shadow-color:#E2FFDE;
	--main-sidebox-section-text-color:#1C1;
	--main-sidebox-section-text-a-color:#ECF;
	--setting-box-bgcolor:#45C;
	--table-bgcolor1:rgba(255, 255, 255, 0.3);
	--table-bgcolor2:rgba(0, 0, 0, 0.1);}
/* setting */
.setting-box{
	display: flex;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: space-evenly;
	margin: 2% 5%;
	padding: 2% 5%;
	background-color: var(--setting-box-bgcolor);
	border-radius: 10px;}
.setting-chb{
	display: none;}
.setting-chb-lable{
	align-self: center;
	background-color: #EEF;
	color: #3264FF;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;}
@media (orientation:landscape){
	.setting-chb-lable{
		width: 50px;
		height: 50px;
		font-size: 30px;}
}
@media (orientation: portrait){
	.setting-chb-lable{
		width: 100px;
		height: 100px;
		font-size: 60px;}
}
/*greenmode*/
.greenmode-chb-lable::before{content: "\F06E";font-family: "Font Awesome 6 Free";font-weight: 900;}
#greenmode-chb[checked=checked] ~ .greenmode-chb-lable::before{content: "\F070";}
/*darkmode*/
.darkmode-chb-lable::before{content: "\F186";font-family: "Font Awesome 6 Free";font-weight: 900;}
#darkmode-chb[checked=checked] ~ .darkmode-chb-lable::before{content: "\F185";}

/* Tools小部件 */
/* back-to-top */
.back-to-top{
	display: inline-block;
	position: fixed;
	right: 5%;
	bottom: 30px;
	width: 50px;
	height: 50px;
	background-image: url(media/back_to_top.png);
	background-size: cover;}
.back-to-top:hover,.back-to-top:focus-visible{
	display: inline-block;
	background-image: url(media/back_to_top_hover.png);
	background-size: cover;}
/* infobox */
.ib{
	display: flex;
	margin-left: 3%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	clear: both;
	text-indent: 0;}
.ib-fi{box-sizing:border-box;}
.ib-la{display:block;box-sizing:border-box;color: #000;}
@media (orientation: landscape) {
	.ib{
		margin-top: 12px;
		margin-bottom: 12px;
		width:825px;
		max-width:90%;
		flex-direction: row;
		flex-wrap: nowrap;
	}
	.ib-fi{
		display:flex;
		padding:10px 10px 10px 10px;
		width:40px;
		min-width:40px;
		max-width:40px;
		justify-content: center;
		font-size: 24px;}
	.ib-la{
		padding:12px 12px 12px 12px;
		flex-grow:1;-webkit-box-flex:1;
	}
}
@media (orientation: portrait) {
	.ib{
		margin-bottom:0.5rem;
		margin-top:0.5rem;
		width: 1024px;
		max-width: 94%;
		flex-direction: column;
		flex-wrap: wrap;
	}
	.ib-fi{
		display:block;
		padding:0.5rem 1rem 0.5rem 1rem;
		font-size:1em;}
	.ib-la{
		padding:0.5rem 1rem 0.5rem 1rem;
		flex-grow:1;
		-webkit-box-flex:1;
		-webkit-box-pack:center;
		justify-content:center;
	}
}
/*red*/
.ib-red-h{
	background-color: #F4C89C;
	color: #E7815C;}
.ib-red{
	background-color: #FFF7ED;}
/*orange*/
/*blue*/
.ib-blue-h{
	background-color:#85C1F7;
	color:#4487DF;}
.ib-blue{
	background: #EBF7FE;}
/*blue gray*/
.ib-blue-gray-h{
	background-color: #aec5d7;
	color: #373737;}
.ib-blue-gray{
	background-color: #536d7e;
	color: #FFF}
/*green*/
.ib-green-h{
	background-color:#B9E66B;
	color:#84B63C;}
.ib-green{
	background: #F9FFEA;}
/*yellow*/
.ib-yellow-h{
	background-color: #F9E179;
	color: #F1BD4C;}
.ib-yellow{
	background-color: #FEF9DE;}
/*brown*/
.ib-brown-h{
	background-color: #5d4237;
	color: #f9fff4;}
.ib-brown-d{
	background-color: #fcac56;}
/*purple*/
.ib-purple-h,.ib-purple-d-h,.ib-purple-hl-h{
	background-color:#7051DB;
	color:#FFF;}
.ib-purple-d{
	background: #54409A;
	color: #b5e7ff;}
.ib-purple-d>.ib-la{color: #b5e7ff;}
.ib-purple-d-hl{
	color: #FFF;}
.ib-purple-hl{
	background: linear-gradient(90deg,#defcff,#e2dbff);}
/* Animation */
/* neon */
@keyframes neon-blue {
	0% {
		color: #333;
	}
	5%, 15%, 25%, 30%, 100% {
		color: #fff;
		text-shadow: 
			0 0 5px #0ebeff,
			0 0 10px #0ebeff,
			0 0 20px #0ebeff,
			0 0 50px #0ebeff,
			0 0 100px #0ebeff,
			0 0 200px #0ebeff;
	}
	10%, 20% {
		color: #333;
		text-shadow: none;
	}}
@keyframes neon-green {
	0% {
		color: #666;
	}
	5%, 15%, 25%, 30%, 100% {
		color: #fff;
		text-shadow: 
			0 0 5px #64FF32,
			0 0 10px #64FF32,
			0 0 20px #64FF32,
			0 0 50px #64FF32,
			0 0 100px #64FF32,
			0 0 200px #64FF32;
	}
	10%, 20% {
		color: #666;
		text-shadow: none;
	}}
/* Fonts */
/*MiSans*/
@font-face {font-family: "MiSans";font-weight: 100;
	src: url(fonts/MiSans-Thin.ttf);}
@font-face {font-family: "MiSans";font-weight: 200;
	src: url(fonts/MiSans-ExtraLight.ttf);}
@font-face {font-family: "MiSans";font-weight: 300;
	src: url(fonts/MiSans-Light.ttf);}
@font-face {font-family: "MiSans";font-weight: 400;
	src: url(fonts/MiSans-Normal.ttf);}
@font-face {font-family: "MiSans";font-weight: 500;
	src: url(fonts/MiSans-Regular.ttf);}
@font-face {font-family: "MiSans";font-weight: 600;
	src: url(fonts/MiSans-DemiBlod.ttf);}
@font-face {font-family: "MiSans";font-weight: 700;
	src: url(fonts/MiSans-SemiBlod.ttf);}
@font-face {font-family: "MiSans";font-weight: 800;
	src: url(fonts/MiSans-Bold.ttf);}
@font-face {font-family: "MiSans";font-weight: 900;
	src: url(fonts/MiSans-Heavy.ttf);}
/*others*/
@font-face {font-family: "Dosis";font-weight: 900;
	src: url(fonts/Dosis-ExtraBold.ttf);}
@font-face {font-family: "Potra";font-weight: 300;
	src: url(fonts/Potra.otf);}
@font-face {font-family: "58hf";
	src: url(fonts/58pic_handwrite_font.ttf);}